* {
    box-sizing: border-box;
}

html,
body,

#rootNode, #__qiankun_microapp_wrapper_for_react_dialogbox__ {
    height: 100%;
    padding: 0;
    margin: 0;
}

.mircoApp{
    flex: 1;
}

.app,
.theme {
    height: 100%;
}

.theme {
    display: flex;
    flex-direction: column;
    .body {
        flex: 1;
        height: 0;
        display: flex;
    }
}

/*去除a标签下划线*/
a {
	text-decoration: none;
}
/*去除未被访问的a标签的下划线*/
a:link {
	text-decoration: none;
}
/*去除已经被访问过的a标签的下划线*/
a:visited {
	text-decoration: none;
}
/*去除鼠标悬停时的a标签的下划线*/
a:hover {
	text-decoration: none;
}
/*去除正在点击的a标签的下划线（鼠标按下，尚未松开）*/
a:active {
	text-decoration: none;
}
/*去除获得焦点的a标签的下划线（被鼠标点击过）*/
a:focus {
	text-decoration: none;
}


.dark .scroll {
    &::-webkit-scrollbar {
        background-color: white;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #515152;
        border-radius: 4px;

        &:hover {
            background-color: rgba(80, 80, 80, 0.6);
        }
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(13, 13, 13, 0.95);
    }
}